@import url("./fonts.css");
body {
  font-family: "Huifont";
}

header {
  color: white;
  width: 100%;
  height: fit-content;
  background-color: rgb(230, 92, 6);
  padding-bottom: 2%;
}

header .menu {
  margin-left: 25px;
}

header .menu .text-logo {
  font-family: "LifeLogo";
  text-decoration: none;
  font-size: 30px;
  color: white;
  position: relative;
}

header .menu ion-icon {
  font-size: 20px;
  color: white;
}

header .menu .icon-1 {
  position: absolute;
  left: -5px;
  top: 5px;
  -webkit-transform: rotate(-45deg);
          transform: rotate(-45deg);
}

header .menu .icon-2 {
  position: absolute;
  top: 10px;
  -webkit-transform: rotate(45deg);
          transform: rotate(45deg);
}

header .menu .nav-item {
  font-size: 18px;
  font-weight: 500;
  padding: 0px 15px 0px 15px;
}

header .menu .nav-item .nav-link {
  color: white;
}

header .sns {
  position: absolute;
  top: 23%;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
}

header .sns .line {
  width: 2px;
  height: 15vh;
  background-color: white;
  margin-left: 25px;
}

header .sns .mxh {
  margin-left: 18px;
  color: white;
}

header .sns .mxh ion-icon {
  padding: 15px 0px 15px 0px;
  font-size: 36px;
}

header .header-content {
  position: absolute;
  bottom: 5px;
  width: 100%;
}

header .header-content .item-content {
  padding: 20px;
  background: rgba(0, 0, 0, 0.5);
  border-radius: 10px;
  -webkit-box-sizing: 2px 2px 4px;
          box-sizing: 2px 2px 4px;
}

header .header-content .title {
  font-weight: bold;
}

header .header-content .title ion-icon {
  margin-top: 5px;
}

header .header-content .title p {
  margin-bottom: 10px;
}

.item-bt {
  color: white;
  position: relative;
  overflow: hidden;
  cursor: pointer;
}

.item-bt .item-content-tour {
  width: 100%;
  position: absolute;
  bottom: 0;
  left: 0;
  -webkit-transition: height 0.8s ease;
  transition: height 0.8s ease;
  background: rgba(0, 0, 0, 0.5);
  height: 0;
}

.item-bt .item-content-tour p {
  display: none;
}

.item-bt img {
  -webkit-transition: -webkit-transform 0.8s ease;
  transition: -webkit-transform 0.8s ease;
  transition: transform 0.8s ease;
  transition: transform 0.8s ease, -webkit-transform 0.8s ease;
}

.item-bt:hover img {
  -webkit-transform: scale(1.3);
          transform: scale(1.3);
}

.item-bt:hover .item-content-tour {
  height: 20%;
}

.item-bt:hover .item-content-tour p {
  display: block;
}

.item-tips {
  border: 2px solid black;
  border-radius: 4px;
}
.item-tips:hover{
  background-color: aqua;
  color:black;
}
#transport a{
  text-decoration: none;
}
#safety a{
  text-decoration: none;
}#weather a{
  text-decoration: none;
}
#transport a:visited{
  color:black;
}
#safety a:visited{
  color:black;
}
#weather a:visited{
  color:black;
}

@media screen and (max-width: 768px) {
  .sokai-content {
    -webkit-column-count: 2 !important;
            column-count: 2 !important;
  }
}

@media screen and (max-width: 576px) {
  .sokai-content {
    -webkit-column-count: 1 !important;
            column-count: 1 !important;
  }
}
/*# sourceMappingURL=style.css.map */